* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1d1f21;
}
.operation {
  background-color: #ffff;
  width: 858px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#field{
    width: 100%;
}
.operation input {
  font-size: 18px;
  padding: 5px;
  width: 90%;
}
#button {
  border: none;
  background-color: green;
  color: #fff;
  width: 50px;
  font-size: 15px;
  padding: 8px;
  width: 8%;
  cursor: pointer;
}

.result{
  overflow: hidden; 
  max-height: 0; 
  transition: max-height 2s ease-in-out; 
  background-color: #f0f0f0;
}

.result.is-open {
  max-height: 1000px; 
}

table
{padding: 20px 0px;
    border: 1px solid red;
    font-size: 20px;
    margin-top: 30px;
}

table tr{

}
table td{
    padding: 6px;

}